h1{
  font-family: serif;
  font: times;
  color: #ff8000;
  font-size: 43;
  background-color: transparent red;
  border-color: black;
  padding: 2px;
}

h2{
  font-family: serif;
  font: times;
  color: #ff8555;
  font-size: 32;
  background-color: transparent red;
  border-color: black;
  padding: 2px;
}

p{
  font-family:sans-serif;
  font:Ariel;
}

li{
  font-family:sans-serif;
  font:Ariel;
  font-style: italic;
}
.page {
  border-color: #ff2000;
  background-color: #ff2200;
  padding: inherit;
}
